# ----------------------
# Maven
# ----------------------
*/target/*
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
*.class

# ----------------------
# VSCode
# ----------------------
.vscode/
.history/
*.code-workspace


# ---------------------
# Python 
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/


# ----------------------
# IntelliJ
# ----------------------
.idea/
*.iml

# ----------------------
# Logs e temporários
# ----------------------
*.log
*.tmp
*.swp
*.swo
*.bak
*.jar
*.lst
*~
hs_err_pid*
public-keys
assinaturas

# ----------------------
# Sistema Operacional
# ----------------------
.DS_Store
Thumbs.db
